html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif; 
    background: #3B4664;

  }
  
  .button{
    width: 45px;
    padding: 5px;
    margin: 0 3px;
    border: 1px solid black;
    border-radius: 9px;
    cursor: pointer;
    background: white;
  }
  .buttonEqual{
    background: red;
    width: 74px;
    height: 27px;
    border-radius: 9px;
    border: 1px solid black;   
    color: white; 

  }
  .buttonClear{
    background: #647299;
    width: 74px;
    height: 27px;
    border-radius: 9px;
    border: 1px solid black;   
    color: white;
  }
  .buttonDel{
    background: #647299;
    color: white; 
    width: 45px;
    padding: 5px;
    margin: 0 3px;
    border: 1px solid black;
    border-radius: 9px;
    cursor: pointer;
  }
  .row-number{
    margin: 9px 0;
    border-radius: 9px;
   background: #252D44;
   padding: 25px;
   padding-top: 2rem

    ;

  }
  .row{
    margin: 7px 0;
  }
  .row input{
    width: 261px;
    font-size: 20px;
      margin: 0;
      padding:15px 0px;
      border: 2px solid black;
      border-radius: 5px;
      background: black;
      color: white; 
      text-align: end; 

  }